@media (max-width: 1400px) {
  /*global*/

  .container {
    max-width: 855px;
  }

  /*header*/
  /*header-top*/
  .header-top__container {
    display: flex;
  }

  /*header-center*/
  .header-center__logo-link {
    display: none;
  }

  .search_active {
    width: clamp(200px, 82%, 1000px);
  }

  /*header-bottom*/
  .header-bottom__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header-bottom__nav {
    margin-right: 35px;
  }

  .nav__bottom-item:not(:last-child) {
    margin-right: 28px;
  }

  .header-bottom__broadcast-left, .header-bottom__broadcast-right {
    padding-right: 24px;
  }

  .header-bottom__age-wrap {
    display: none;
  }

  /*hero*/
  .hero {
    padding-bottom: 90px;
  }

  .hero__left-wrap {
    max-width: 539px;
    width: 100%;
  }

  .hero__text {
    margin: 0 0 20px;
  }

  .hero__picture {
    bottom: 0;
  }

  /*podcasts*/
  .podcasts {
    padding-bottom: 92px;
  }

  /*broadcasts*/
  /*broadcasts-left*/
  .broadcasts__left-wrap {
    width: calc((100% - 2 * 30px) / 3);
  }

  .broadcasts__top-left {
    margin-bottom: 223px;
  }

  /*broadcasts-right*/
  .broadcasts__right-wrap {
    width: calc((100% - 30px) - ((100% - 2 * 30px) / 3));
  }

  .broadcasts__item {
    width: calc((100% - 30px) / 2);
  }

  /*guests*/
  .guests__header {
    max-width: 536px;
  }

  .accordion {
    max-width: 540px;
  }

  .accordion__panel-list {
    margin-bottom: -16px;
    column-count: 3;
  }

  .accordion__panel-list_active {
    padding: 30px 0;
  }

  .accordion__panel-item {
    margin-bottom: 13px;
  }

  .guests__person {
    max-width: 255px;
  }

  /*playlists*/
  /*playlists-left*/
  .playlists__container {
    flex-direction: column;
    justify-content: initial;
  }

  .playlists__list {
    margin-bottom: 11px;
    max-width: 325px;
    column-count: 2;
  }

  .playlists__item {
    margin: 0;
    width: fit-content;
  }

  .playlists__left-footer_desc {
    display: none;
  }

  /*playlists__card-list*/
  .playlists__card-list {
    margin-bottom: 12px;
    width: 100%;
  }

  .playlists__card-item {
    display: flex;
    max-width: calc((100% - 2 * 30px) / 3);
    min-height: 112px;
    height: 100%;
  }

  .playlists__photo-wrap {
    position: relative;
  }

  .playlists__country-wrap {
    right: initial;
    left: 0;
  }

  .playlists__btn {
    top: 32px;
    left: 32px;
  }

  .playlists__btn::before {
    top: -32px;
    left: -32px;
    right: -174px;
    bottom: -32px;
  }

  .playlists__grayscale {
    bottom: 0;
  }

  .playlists__desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 112px);
    padding: 0 0 0 10px;
  }

  .playlists__left-footer_tablet {
    display: block;
  }

  /*adv*/
  .adv {
    padding-bottom: 126px;
  }

  .adv__container {
    align-items: center;
  }

  .adv__picture {
    width: 48%;
  }

  .adv__right-wrap {
    width: 48%;
  }

  /*about*/
  .about__container {
    position: initial;
  }

  .about__top-wrap {
    justify-content: space-between;
    margin-bottom: 27px;
  }

  .about__top-text-wrap {
    width: 66%;
  }

  .about__top-figures {
    width: 31%;
  }

  .about__spiral-picture {
    display: none;
  }

  .about__swiper {
    margin-bottom: 37px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 43%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 35px;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 35px;
  }
}

@media (max-width: 1023px) {
  /*global*/
  .container {
    max-width: 570px;
  }

  /*header*/
  /*header-center*/
  .header-center__container {
    justify-content: space-between;
  }

  .burger {
    display: block;
    z-index: 10;
  }

  .header-center__top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #D2D5DD;
    visibility: hidden;
    transform: translateX(-150%);
    z-index: 5;
  }

  /*header-bottom*/
  .header-bottom__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .nav__bottom-item:not(:last-child) {
    margin-right: 29px;
  }

  .header-bottom__nav {
    margin-right: 26px;
  }

  .header-bottom__broadcast {
    display: none;
  }

  .audio_768 {
    display: block;
  }

  /*hero*/
  .hero__picture {
    display: none;
  }

  /*podcasts*/
  .podcasts__item {
    width: 100%;
  }

  /*broadcasts*/
  .broadcasts {
    padding-bottom: 158px;
  }

  .broadcasts__container {
    flex-flow: row wrap;
  }

  /*broadcasts-left*/
  .broadcasts__left-wrap {
    width: calc((100% - 30px) / 2);
  }

  .broadcasts__top-left {
    margin-bottom: 47px;
  }

  .broadcasts__bottom-left {
    display: none;
  }

  /*broadcasts-right*/
  .broadcasts__right-wrap {
    margin-bottom: 60px;
    width: 100%;
  }

  .broadcasts__list {
    padding-top: 0;
  }

  /*broadcasts__footer*/
  .broadcasts__footer {
    display: flex;
  }

  .broadcasts__left-picture {
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .broadcasts__footer-text-wrap {
    display: flex;
    flex-direction: column;
    max-width: 255px;
  }

  /*guests*/
  .guests {
    padding-bottom: 107px;
  }

  .guests__content-wrap {
    flex-direction: column;
  }

  .guests__accordion {
    margin-right: 0;
    margin-bottom: 45px;
  }

  .accordion__panel-list {
    margin-bottom: -27px;
  }

  .accordion__panel-item {
    margin-bottom: 27px;
  }

  .guests__person {
    /*padding-bottom: 10px;*/
    max-width: 100%;
  }

  .guest__person-descr {
    max-width: 398px;
  }

  /*playlists*/
  /*playlists__left-wrap*/
  .playlists__list {
    margin-bottom: 20px;
  }

  /*playlists__card-list*/
  .playlists__card-item {
    max-width: calc((100% - 30px) / 2);
  }

  .playlists__item:not(:last-child) {
    margin-bottom: 35px;
  }

  /*adv*/
  .adv {
    padding-top: 54px;
    padding-bottom: 118px;
  }

  .adv__container {
    flex-direction: column;
  }

  .adv__picture {
    margin-bottom: 50px;
    width: 100%;
  }


  .adv__right-wrap {
    width: 100%;
  }

  .adv__title {
    max-width: 380px;
  }

  /*about*/
  .about__top-wrap {
    flex-direction: column;
  }

  .about__top-text-wrap {
    margin-bottom: 30px;
    width: 100%;
  }

  .about__top-figures {
    justify-content: flex-end;
    width: 100%;
  }

  .about__spiral-picture {
    position: absolute;
    left: 0;
    top: 476px;
    display: block;
  }

  /*swiper*/
  .about__swiper {
    margin-bottom: 30px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 45%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 50px;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 50px;
  }

  /*form*/
  .about__name-mail-wrap {
    flex-direction: column;
    height: initial;
  }

  .about__label {
    width: 100%;
  }

  .about__input {
    border-radius: 40px;
  }

  /*footer*/
  .footer-top {
    padding-bottom: 80px;
  }

  .footer-top__container {
    flex-direction: column;
  }

  .footer-top__left-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    margin-right: initial;
  }

  .footer-top__logo-link {
    margin-bottom: 20px;
  }

  .footer-top__social-item:not(:last-child) {
    margin-right: 33px;
  }

  .footer-top__social-link > * {
    transform: scale(1.5);
  }

  .footer-top__nav {
    max-width: initial;
  }

  .nav__footer-list {
    margin-bottom: -30px;
  }

  .nav__footer-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .swiper-btn,
  .about__top-figures {
    display: none;
  }
}

@media (max-width: 576px) {
  /*global*/

  .container {
    max-width: 286px;
  }

  .section-offset {
    padding: 54px 0;
  }

  .section-title {
    font-size: 24px;
  }

  .subtitle {
    font: 500 16px / 16px "Muller", sans-serif;
  }

  /*root*/
  :root {
    --font500_20_20: 500 16px / 16px "Muller", sans-serif;
    --font400_16_16: 400 12px / 12px "Muller", sans-serif;
    --font400_20_20: 400 16px / 16px "Muller", sans-serif;
  }

  /*header*/
  .header-top__container {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .login-btn {
    padding: 8px 22px;
  }

  .header-top__logo-link {
    width: 87px;
  }

  .header-top__login-btn {
    display: block;
  }

  .header-center__container {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .header-center__login-btn {
    display: none;
  }

  .header-center__search-wrap {
    right: 15px;
  }

  .search_active {
    width: clamp(200px, 80%, 1000px);
  }

  .header-bottom__container {
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header-bottom__nav {
    display: none;
    margin-right: 0;
  }

  .audio_768 {
    display: none;
  }

  .header-bottom__on-airth {
    display: block;
  }

  /*hero*/
  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__title {
    margin: 0 0 7px;
    font-size: 32px;
  }

  .hero__text {
    font-size: 14px;
  }

  .hero__btn {
    padding: 15px 43px;
  }

  /*podcasts*/
  .podcasts__title {
    margin: 0 0 20px;
  }

  .podcasts__list {
    margin-bottom: 0;
  }

  .podcasts__item {
    flex-direction: column;
  }

  .podcasts__item:nth-child(n + 9) {
    display: flex;
  }

  .podcasts__item:nth-child(n + 5) {
    display: none;
  }

  .podcasts__item.podcasts__item_visible {
    display: flex;
  }

  .podcasts__left-wrap {
    max-width: initial;
  }

  .podcasts__date-wrap {
    bottom: initial;
    top: -1px;
  }

  .podcasts__top-wrap {
    padding: 16px 10px 16px 16px;
  }

  .podcasts__time {
    margin-bottom: 8px;
  }

  .podcasts__name {
    margin: 0;
  }

  .play-btn_active {
    transform: scale(0.8);
  }

  .podcasts__bottom-wrap {
    padding: 5px 33px;
  }

  .podcasts__more-btn {
    padding: 15px 28px;
  }

  /*broadcasts*/
  .broadcasts {
    padding-bottom: 135px;
  }

  .broadcasts__left-wrap {
    width: 100%;
  }

  .broadcasts__top-left {
    margin-bottom: 29px;
  }

  .broadcasts__title {
    margin: 0 0 18px;
  }

  /*choices*/
  .choices__inner,
  .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    font-size: 16px;
    line-height: 16px;
  }

  .broadcasts__right-wrap {
    margin-bottom: 60px;
  }

  .broadcasts__article-bottom-wrap {
    padding: 9px 9px 11px 9px;
    min-height: 99px;
  }

  .broadcasts__name {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcasts__time {
    margin: initial;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcasts__more-link {
    color: #6D31EE;
    background: url("../img/broadcasts-arrow-hover.svg") right center no-repeat;
  }

  .broadcasts__footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .broadcasts__left-picture {
    margin-right: 13px;
  }

  .broadcasts__footer-text-wrap {
    max-width: 166px;
  }

  .broadcasts__archive-link {
    order: 1;
    max-width: 110px;
    height: 35px;
  }

  .broadcasts__descr {
    order: 0;
    margin-bottom: 5px;
    font-size: 14px;
  }

  /*guests*/

  .guests {
    padding-bottom: 63px;
  }

  .guests__header {
    margin-bottom: 28px;
  }

  .guests__have {
    margin: 0;
    font-size: 14px;
  }

  .guests__header-descr {
    font-size: 14px;
  }

  /*accordion*/
  .guests__accordion {
    margin-bottom: 31px;
  }

  .accordion__btn {
    padding: 4px 0;
  }

  .accordion__btn-img {
    width: 26px;
  }

  /*accordion__panel*/
  .accordion__panel-list {
    margin-bottom: -4px;
    column-count: 2;
  }

  .accordion__panel-list_active {
    padding: 20px 0;
  }

  .accordion__panel-item {
    max-width: min-content;
  }

  .accordion__panel-btn {
    font-size: 14px;
    line-height: 110%;
    text-align: left;
  }

  .historians {
    display: none;
  }

  /*guests__person*/
  .guests__person-pict img {
    margin-bottom: 15px;
  }

  .guests__social {
    margin-bottom: 12px;
    padding-left: 6px;
  }

  .guests__social-item {
    transform: scale(1.5);
  }

  .guests__social-item:not(:last-child) {
    margin-right: 33px;
  }

  .guest__person-name {
    font-size: 20px;
    line-height: 20px;
  }

  .guest__person-link {
    padding: 8px 13px;
  }

  /*playlists*/

  .playlists {
    position: relative;
  }

  .playlists__title {
    margin: 0 0 18px;
  }

  .playlists__left-wrap {
    margin-bottom: 50px;
  }

  .playlists__list {
    display: none;
  }

  .playlists__list-genre {
    display: flex;
  }

  /*.playlists__item-genre:not(:last-child) {*/
  /*  margin-right: 15px;*/
  /*}*/

  .playlists__btn-genre {
    padding: 9px 19px;
    outline: none;
    border: 2px solid #6D31EE;
    border-radius: 77px;
    font: var(--font500_20_20);
    color: #6D31EE;
    background-color: transparent;
  }

  .playlists__card-list {
    margin: 0;
  }

  .playlists__card-item {
    flex-direction: column;
  }

  .playlists__country-wrap {
    left: initial;
    right: 1px;
  }

  .playlists__btn::before {
    right: -32px;
    bottom: -79px;
  }

  .playlists__desc-wrap {
    display: block;
    padding: 9px 9px 6px;
    width: initial;
  }

  .playlists__subtitle {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__desc-text {
    font-size: 9px;
    line-height: 9px;
  }

  .playlists__left-footer {
    padding-top: 28px;
  }

  .playlists__left-text {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__left-copy {
    font-size: 12px;
  }

  /*adv*/
  .adv {
    padding-bottom: 70px;
  }

  .adv__picture {
    margin-bottom: 30px;
  }

  .adv__title {
    margin: 0 0 10px;
  }

  .adv__wawe-img {
    margin-bottom: 12px;
  }

  .adv__text_first {
    margin-bottom: 9px;
  }

  .adv__text_last {
    margin-bottom: 12px;
  }

  .adv__text {
    font-size: 14px;
    line-height: 160%;
  }

  .adv__price {
    margin: 0 0 33px;
    font-size: 24px;
    line-height: 1;
  }

  .adv__link {
    padding: 15px 13px 15px 43px;
    font-size: 16px;
  }


}
