@media (max-width: 1400px) {
  /*global*/

  .container {
    max-width: 855px;
  }

  /*header*/
  /*header-top*/
  .header-top__container {
    display: flex;
  }

  /*header-center*/
  .header-center__logo-link {
    display: none;
  }

  .search_active {
    width: clamp(200px, 82%, 1000px);
  }

  /*header-bottom*/
  .header-bottom__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header-bottom__nav {
    margin-right: 35px;
  }

  .nav__bottom-item:not(:last-child) {
    margin-right: 28px;
  }

  .header-bottom__broadcast-left, .header-bottom__broadcast-right {
    padding-right: 24px;
  }

  .header-bottom__age-wrap {
    display: none;
  }

  /*hero*/
  .hero {
    padding-bottom: 90px;
  }

  .hero__left-wrap {
    max-width: 539px;
    width: 100%;
  }

  .hero__text {
    margin: 0 0 20px;
  }

  .hero__picture {
    bottom: 0;
  }

  /*broadcasts*/
  /*broadcasts-left*/
  .broadcasts__left-wrap {
    width: calc((100% - 2 * 30px) / 3);
  }

  .broadcasts__top-left {
    margin-bottom: 223px;
  }

  /*broadcasts-right*/
  .broadcasts__right-wrap {
    width: calc((100% - 30px) - ((100% - 2 * 30px) / 3));
  }

  .broadcasts__item {
    margin-bottom: 27px;
    width: calc((100% - 30px) / 2);
  }

  /*guests*/
  .guests__header {
    max-width: 536px;
  }

  .accordion {
    max-width: 540px;
  }

  .accordion__panel-list {
    column-count: 3;
  }

  .guests__person {
    max-width: 255px;
  }

  /*playlists*/
  /*playlists-left*/
  .playlists__container {
    flex-direction: column;
    justify-content: initial;
  }

  .playlists__list {
    margin-bottom: 11px;
    max-width: 325px;
    column-count: 2;
  }

  .playlists__item {
    margin: 0;
    width: fit-content;
  }

  .playlists__left-footer_desc {
    display: none;
  }

  /*playlists__card-list*/
  .playlists__card-list {
    margin-bottom: 12px;
    width: 100%;
  }

  .playlists__card-item {
    display: flex;
    max-width: calc((100% - 2 * 30px) / 3);
    min-height: 112px;
    height: 100%;
  }

  .playlists__photo-wrap {
    position: relative;
  }

  .playlists__country-wrap {
    right: initial;
    left: 0;
  }

  .playlists__btn {
    top: 32px;
    left: 32px;
  }

  .playlists__btn::before {
    top: -32px;
    left: -32px;
    right: -174px;
    bottom: -32px;
  }

  .playlists__grayscale {
    bottom: 0;
  }

  .playlists__desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 112px);
    padding: 0 0 0 10px;
  }

  .playlists__left-footer_tablet {
    display: block;
  }

  /*adv*/
  .adv {
    padding-bottom: 126px;
  }

  .adv__container {
    align-items: center;
  }

  .adv__picture {
    width: 48%;
  }

  .adv__right-wrap {
    width: 48%;
  }

  /*about*/
  .about__container {
    position: initial;
  }

  .about__top-wrap {
    justify-content: space-between;
  }

  .about__top-text-wrap {
    width: 66%;
  }

  .about__top-figures {
    width: 31%;
  }

  .about__spiral-picture {
    display: none;
  }

  .about__top-wrap {
    margin-bottom: 28px;
  }

  .about__swiper {
    margin-bottom: 37px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 43%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 35px;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 35px;
  }
}

@media (max-width: 1023px) {
  /*global*/
  .container {
    max-width: 570px;
  }

  /*header*/
  /*header-center*/
  .header-center__container {
    justify-content: space-between;
  }

  .burger {
    display: block;
    z-index: 10;
  }

  .header-center__top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #D2D5DD;
    visibility: hidden;
    transform: translateX(-150%);
    z-index: 5;
  }

  /*header-bottom*/
  .header-bottom__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .nav__bottom-item:not(:last-child) {
    margin-right: 29px;
  }

  .header-bottom__nav {
    margin-right: 26px;
  }

  .header-bottom__broadcast {
    display: none;
  }

  .audio_768 {
    display: block;
  }

  /*hero*/
  .hero__picture {
    display: none;
  }

  /*podcasts*/
  .podcasts__item {
    width: 100%;
  }

  /*broadcasts*/
  .broadcasts {
    padding-bottom: 28px;
  }

  .broadcasts__container {
    flex-direction: column;
  }

  /*broadcasts-left*/
  .broadcasts__left-wrap {
    width: calc((100% - 30px) / 2);
  }

  .broadcasts__top-left {
    margin-bottom: 47px;
  }

  .broadcasts__bottom-left {
    display: none;
  }

  /*broadcasts-right*/
  .broadcasts__right-wrap {
    margin-bottom: 60px;
    width: 100%;
  }

  .broadcasts__list {
    padding-top: 0;
  }

  /*broadcasts__footer*/
  .broadcasts__footer {
    display: flex;
    align-self: center;
    padding-top: 30px;
    max-width: 345px;
    width: 100%;
    border-top: 1px solid #E6E8EC;
  }

  .broadcasts__left-picture {
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .broadcasts__footer-text-wrap {
    display: flex;
    flex-direction: column;
  }

  /*guests*/
  .guests {
    padding-bottom: 107px;
  }

  .guests__content-wrap {
    flex-direction: column;
  }

  .guests__accordion {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .accordion__panel-list {
    margin-bottom: -30px;
  }

  .accordion__panel-item {
    margin-bottom: 29px;
  }

  .guests__person {
    max-width: 100%;
  }

  .guest__person-descr {
    max-width: 398px;
  }

  /*playlists*/
  /*playlists__left-wrap*/
  .playlists__list {
    margin-bottom: 20px;
  }

  /*playlists__card-list*/
  .playlists__card-item {
    max-width: calc((100% - 30px) / 2);
  }

  .playlists__item:not(:last-child) {
    margin-bottom: 35px;
  }

  /*adv*/
  .adv {
    padding-top: 54px;
    padding-bottom: 118px;
  }

  .adv__container {
    flex-direction: column;
  }

  .adv__picture {
    margin-bottom: 50px;
    width: 100%;
  }


  .adv__right-wrap {
    width: 100%;
  }

  .adv__title {
    max-width: 380px;
  }

  /*about*/
  .about__top-wrap {
    flex-direction: column;
  }

  .about__top-text-wrap {
    margin-bottom: 30px;
    width: 100%;
  }

  .about__top-figures {
    justify-content: flex-end;
    width: 100%;
  }

  .about__spiral-picture {
    position: absolute;
    left: 0;
    top: 476px;
    display: block;
  }

  /*swiper*/
  .about__swiper {
    margin-bottom: 27px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 45%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 50px;
  }

  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 50px;
  }

  /*form*/
  .about__name-mail-wrap {
    flex-direction: column;
    height: initial;
  }

  .about__label {
    width: 100%;
  }

  .about__input {
    border-radius: 40px;
  }

  /*footer*/
  .footer-top {
    padding-bottom: 80px;
  }

  .footer-top__container {
    flex-direction: column;
  }

  .footer-top__left-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    margin-right: initial;
  }

  .footer-top__logo-link {
    margin-bottom: 20px;
  }

  .footer-top__social-item:not(:last-child) {
    margin-right: 33px;
  }

  .footer-top__social-link > * {
    transform: scale(1.5);
  }

  .footer-top__nav {
    max-width: initial;
  }

  .nav__footer-list {
    margin-bottom: -30px;
  }

  .nav__footer-item {
    margin-bottom: 30px;
  }


}

@media (max-width: 767px) {
  /*global*/
  .container {
    max-width: 286px;
  }

  /*header*/
  .header-top__login-btn {
    display: block;
  }

  .header-center__login-btn {
    display: none;
  }

  .header-center__search-wrap {
    right: 0;
  }

}
