@font-face {
  font-family: "Muller";
  src: local("MullerBold"), local("Muller-Bold"), local("Muller_Bold"),
  url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLightItalic"), local("Muller_Light_Italic"), local("Muller-Light-Italic"),
  url("../fonts/MullerLightItalic.woff2") format("woff2"),
  url("../fonts/MullerLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), local("Muller-Medium"), local("Muller_Medium"),
  url("../fonts/MullerMedium.woff2") format("woff2"),
  url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), local("Muller-Regular"), local("Muller_Regular"),
  url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegularItalic"), local("Muller-Regular-Italic"), local("Muller_Regular_Italic"),
  url("../fonts/MullerRegularItalic.woff2") format("woff2"),
  url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"), local("OpenSans_Regular"), local("Open-Sans-Regular"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: initial;
}

/*global*/

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font400_20_20: 400 20px / 20px "Muller", sans-serif;
  --font400_16_16: 400 16px / 16px "Muller", sans-serif;
  --font500_16_16: 500 16px / 16px "Muller", sans-serif;
  --font500_20_20: 500 20px / 20px "Muller", sans-serif;
}

.section-title {
  font: 400 48px / 100% "Muller", sans-serif;
}

.subtitle {
  font: 400 20px / 20px "Muller", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1140px;
}

.section-offset {
  padding: 94px 0;
}

/*header*/
/*header-top*/
.header-top__container {
  display: none;
}

/*header-center*/
.header-center__container {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 16px;
}

.header-center__logo-img {
  width: 100%;
}

.header-center__top-nav {
  margin: 0 auto;
}

.nav__top-list {
  align-items: center;
}

.nav__top-item:not(:last-child) {
  margin-right: 58px;
}

.nav__top-link {
  font: var(--font400_20_20);
  color: #121723;
}

.header-center__btns-wrap {
  align-items: center;
}

.header-center__search-btn {
  margin-right: 20px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-center__login-btn {
  padding: 12px 32px;
  border: 2px solid #121723;
  border-radius: 77px;
  outline: none;
  font: var(--font500_16_16);
  color: #121723;
  background-color: transparent;
  cursor: pointer;
}

/*header-bottom*/
.header-bottom {
  border-top: 1px solid #E6E8EC;
  border-bottom: 1px solid #E6E8EC;
}

.header-bottom__container {
  align-items: center;
}

.nav__bottom-list {
  align-items: center;
}

.nav__bottom-item:not(:last-child) {
  margin-right: 52px;
}

.nav__bottom-link {
  font: var(--font400_16_16);
  color: #121723;
}

.header-bottom__broadcast {
  margin: 0 auto;
}

.header-bottom__broadcast-left, .header-bottom__broadcast-right {
  align-items: center;
  padding-left: 12px;
  padding-right: 48px;
  border-left: 1px solid #E6E8EC;
}

.header-bottom__broadcast-right {
  border-right: 1px solid #E6E8EC;
}

.play-icon {
  font-size: 0;
}

.play-icon_desc {
  margin-right: 10px;
}

.play-icon__btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.header-bottom__broadcast-text-wrap {
  flex-direction: column;
}

.header-bottom__broadcast-top-text {
  margin-bottom: 5px;
  font: 400 12px / 12px "Muller", sans-serif;
  color: #A1A6B4;
}

.header-bottom__broadcast-bottom-text {
  font: var(--font400_16_16);
  color: #121723;
}

.age {
  justify-content: center;
  align-items: center;
  max-width: 46px;
  width: 100%;
  min-height: 58px;
  height: 100%;
  font-size: 0;
  background-color: #E6E8EC;
}

.age__circle {
  justify-content: center;
  align-items: center;
  padding: 15px 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
}

.age__text {
  font: 400 12px / 16px "Open Sans", sans-serif;
  color: #A1A6B4;
}

.play-icon_768, .header-bottom__on-airth {
  display: none;
}

/*hero*/
.hero__container {
  position: relative;
  justify-content: space-between;
}

.hero__left-wrap {
  align-self: start;
  max-width: 635px;
}

.hero__title {
  margin: 0 0 14px;
  font: 700 60px / 100% "Muller", sans-serif;
  color: #121723;
}

.hero__title_ital {
  font-style: italic;
}

.hero__text {
  margin: 0 0 46px;
  font: 400 16px / 150% "Muller", sans-serif;
  color: #121723;
}

.hero__btn {
  padding: 25px 54px;
  border: none;
  border-radius: 40px;
  outline: none;
  font: var(--font500_20_20);
  color: #fff;
  background-color: #6D31EE;
  cursor: pointer;
}

.hero__picture {
  position: absolute;
  right: 15px;
  bottom: -58px;
}

/*podcasts*/

.podcasts {
  background-color: #E6E8EC;
}

.podcasts__container {
  flex-direction: column;
}

.podcasts__title {
  margin: 0 0 30px;
  color: #121723;
}

.podcasts__list {
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

.podcasts__item {
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
  background-color: #fff;
}

.podcasts__left-wrap {
  position: relative;
  max-height: 140px;
  max-width: 112px;
  width: 100%;
}

.podcasts__date-wrap {
  position: absolute;
  left: -1px;
  bottom: -1px;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  max-width: 51px;
  width: 100%;
  font-size: 0;
  z-index: 5;
  background-color: #E6E8EC;
}

.podcasts__date {
  font: 400 10px /10px "Muller", sans-serif;
  color: #121723;
}

.podcasts__right-wrap {
  width: 100%;
}

.podcasts__top-wrap {
  justify-content: space-between;
  padding: 20px 30px;
}

.podcasts__time {
  display: block;
  margin-bottom: 10px;
  font: 400 12px / 12px "Muller", sans-serif;
  color: #121723;
}

.podcasts__name {
  margin: 0 0 4px;
  color: #121723;
}

.podcasts__player {
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.podcasts__play-btn {
  align-self: center;
}

.podcasts__bottom-wrap {
  padding: 9px 30px;
  border-top: 1px solid #E6E8EC;
}

.podcasts__summary, .podcasts__like {
  margin-right: 30px;
}

.podcasts__summary, .podcasts__like, .podcasts__share {
  display: flex;
}

.podcasts__summary svg, .podcasts__like svg, .podcasts__share svg {
  margin-right: 6px;
}

.podcasts__summary-count, .podcasts__like-count, .podcasts__share-count {
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.play-btn {
  padding: 0;
  border: none;
  border-radius: 100%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
}

.podcasts__more-btn {
  align-self: center;
  padding: 23px 52px;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  outline: none;
  font: var(--font500_20_20);
  color: #6D31EE;
  background-color: transparent;
  cursor: pointer;
}

/*broadcasts*/
.broadcasts__container {
  justify-content: space-between;
}

/*broadcasts__left-wrap*/
.broadcasts__left-wrap {
  width: calc((100% - 3 * 30px) / 4);
}

.broadcasts__top-left {
  margin-bottom: 227px;
  flex-direction: column;
  align-items: start;
}

.broadcasts__title {
  margin: 0 0 12px;
  color: #121723;
}

.broadcasts__author {
  margin-bottom: 8px;
  font: var(--font400_16_16);
  color: #A1A6B4;
}

/*broadcasts select*/
.choices {
  width: 100%;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #D2D5DD;;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-top: none;
  border-left: 1px solid #D2D5DD;
  border-right: 1px solid #D2D5DD;
  border-bottom: 1px solid #D2D5DD;
  border-radius: 0 0 10px 10px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
}

.choices[data-type*=select-one]::after {
  top: 45%;
  width: 13px;
  height: 9px;
  border: none;
  background: url("../img/select-arrow-close.svg") right center / cover no-repeat;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -3px;
  width: 13px;
  height: 9px;
  border: none;
  background: url("../img/select-arrow-open.svg") right center / cover no-repeat;
}

.choices__inner {
  min-height: auto;
  border: none;
  border-radius: 10px;
  font: var(--font400_16_16);
  background-color: #E6E8EC;
}

.is-open .choices__inner {
  position: relative;
  border-radius: 10px;
  overflow: visible;
}

.is-open .choices__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #D2D5DD;
  border-left: 1px solid #D2D5DD;
  border-right: 1px solid #D2D5DD;
  border-radius: 10px 10px 0 0;
}

.choices__inner,
.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 12px;
  font: var(--font400_16_16);
}

.choices__list--single .choices__item {
  color: #121723;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown {
  color: #A1A6B4;
}

.broadcasts__option {
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.broadcasts__bottom-left {
  flex-direction: column;
}

.broadcasts__left-picture {
  margin-bottom: 20px;
}

.broadcasts__archive-link {
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  min-width: 110px;
  max-width: 160px;
  width: 100%;
  height: 40px;
  border: 2px solid #121723;
  border-radius: 77px;
}

.broadcasts__archive-icon {
  margin-right: 5px;
}

.broadcasts__archive-span {
  color: #121723;
  font: var(--font500_16_16);
}

.broadcasts__descr {
  font: 400 16px / 150% "Muller", sans-serif;
  color: #A1A6B4;
}

/*broadcasts__right-wrap*/
.broadcasts__right-wrap {
  width: calc((100% - 30px) - ((100% - 3 * 30px) / 4));
}

.broadcasts__list {
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 13px;
}

.broadcasts__item {
  width: calc((100% - 2 * 30px) / 3);
  margin-bottom: 30px;
}

.broadcasts__article {
  width: 100%;
  font-size: 0;
}

.broadcasts__article-bottom-wrap {
  flex-direction: column;
  padding: 20px 16px;
  border: 1px solid #E6E8EC;
}

.broadcasts__name {
  align-self: flex-start;
  margin: 0 0 4px;
  color: #121723;
}

.broadcasts__time {
  align-self: flex-start;
  margin: 0 0 20px;
  font: 400 12px / 12px "Muller";
  color: #A1A6B4;
}

.broadcasts__more-link {
  align-self: flex-start;
  padding-right: 24px;
  font: var(--font400_16_16);
  font-style: italic;
  color: #121723;
  background: url("../img/broadcasts Arrow 1.svg") right center no-repeat;
}

/*broadcasts__footer*/
.broadcasts__footer {
  display: none;
}
