@font-face {
  font-family: "Muller";
  src: local("MullerBold"), local("Muller-Bold"), local("Muller_Bold"),
  url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLightItalic"), local("Muller_Light_Italic"), local("Muller-Light-Italic"),
  url("../fonts/MullerLightItalic.woff2") format("woff2"),
  url("../fonts/MullerLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), local("Muller-Medium"), local("Muller_Medium"),
  url("../fonts/MullerMedium.woff2") format("woff2"),
  url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), local("Muller-Regular"), local("Muller_Regular"),
  url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegularItalic"), local("Muller-Regular-Italic"), local("Muller_Regular_Italic"),
  url("../fonts/MullerRegularItalic.woff2") format("woff2"),
  url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"), local("OpenSans_Regular"), local("Open-Sans-Regular"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  color: initial;
}

/*global*/

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font400_20_20: 400 20px / 20px "Muller", sans-serif;
  --font400_16_16: 400 16px / 16px "Muller", sans-serif;
  --font500_16_16: 500 16px / 16px "Muller", sans-serif;
  --font500_20_20: 500 20px / 20px "Muller", sans-serif;
}

.section-title {
  font: 400 48px / 100% "Muller", sans-serif;
}

.subtitle {
  font: 400 20px / 20px "Muller", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1140px;
}

.section-offset {
  padding: 94px 0;
}

/*nav__link effects*/

.nav__link {
  position: relative;
  z-index: 10;
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -6px;
  right: -6px;
  z-index: -10;
  background-color: #AA9DFA;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav__link:focus {
  color: #fff;
}

.nav__link:focus::before {
  opacity: 1;
}

.nav__link:hover {
  color: #6D31EE;
}

.nav__link:active {
  color: #4F28A5;
}

.nav__link:active::before {
  opacity: 0;
}

/*header*/
/*header-top*/
.header-top__container {
  display: none;
}

/*header-center*/
.header-center__container {
  position: relative;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 16px;
}

.header-center__logo-link {
  margin-right: 80px;
}

.header-center__logo-img {
  width: 100%;
}

.header-center__top-nav {
  margin-right: auto;
}

.nav__top-list {
  align-items: center;
}

.nav__top-item:not(:last-child) {
  margin-right: 58px;
}

.nav__top-link {
  font: var(--font400_20_20);
  color: #121723;
}

/*search*/
.search {
  position: absolute;
  right: 143px;
  width: 24px;
  transition: width 0.2s ease-in-out;
}

.search_active {
  width: clamp(200px, 67%, 750px);
  z-index: 20;
  background-color: #fff;
}

.search__input {
  display: none;
  padding-bottom: 2px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #6D31EE;
  outline: none;
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.search__search-btn, .search__close-btn {
  padding: 0;
  outline: none;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__search-btn path {
  transition: stroke 0.2s ease-in-out;
}

.search__search-btn:focus path,
.search__search-btn:hover path {
  stroke: #AA9DFA;
}

.search__search-btn:active path {
  stroke: #4F28A5;
}

.search__close-btn {
  display: none;
  margin-left: 10px;
}

.search__close-btn circle,
.search__close-btn rect {
  transition: stroke 0.2s ease-in-out,
              fill 0.2s ease-in-out;
}

.search__close-btn:focus rect,
.search__close-btn:hover rect {
  fill: #AA9DFA;
}
.search__close-btn:focus circle,
.search__close-btn:hover circle {
  stroke: #AA9DFA;
}

.search__close-btn:active rect {
  fill: #4F28A5;
}

.search__close-btn:active circle {
  stroke: #4F28A5;
}

.search__search-btn_active,
.search__close-btn_active,
.search__input_active {
  display: block;
}

.header-center__login-btn {
  padding: 12px 32px;
  border: 2px solid #121723;
  border-radius: 77px;
  outline: none;
  font: var(--font500_16_16);
  color: #121723;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
}

.btn-effects:focus {
  background-color: #AA9DFA;
}

.btn-effects:hover {
  color: #fff;
  background-color: #121723;
}

.btn-effects:active {
  border-color: #4F28A5;
  color: #fff;
  background-color: #4F28A5;
}

/*header-bottom*/
.header-bottom {
  border-top: 1px solid #E6E8EC;
  border-bottom: 1px solid #E6E8EC;
}

.header-bottom__container {
  align-items: center;
}

.nav__bottom-list {
  align-items: center;
}

.nav__bottom-item:not(:last-child) {
  margin-right: 52px;
}

.nav__bottom-link {
  font: var(--font400_16_16);
  color: #121723;
}

.header-bottom__broadcast {
  margin: 0 auto;
}

.header-bottom__broadcast-left, .header-bottom__broadcast-right {
  align-items: center;
  padding-left: 12px;
  padding-right: 48px;
  border-left: 1px solid #E6E8EC;
}

.header-bottom__broadcast-right {
  border-right: 1px solid #E6E8EC;
}

.audio {
  font-size: 0;
}

.audio path {
  transition: fill 0.2s ease-in-out;
}

.audio-btn:focus path {
  fill: #AA9DFA;
}

.audio-btn:hover path {
  fill: #6D31EE;
}

.audio-btn:active path {
  fill: #4F28A5;
}

.audio_desc {
  margin-right: 10px;
}

.audio-btn {
  display: none;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.audio-btn_active {
  display: block;
}

.header-bottom__broadcast-text-wrap {
  flex-direction: column;
}

.header-bottom__broadcast-top-text {
  margin-bottom: 5px;
  font: 400 12px / 12px "Muller", sans-serif;
  color: #A1A6B4;
}

.header-bottom__broadcast-bottom-text {
  font: var(--font400_16_16);
  color: #121723;
}

.age {
  justify-content: center;
  align-items: center;
  max-width: 46px;
  width: 100%;
  min-height: 58px;
  height: 100%;
  font-size: 0;
  background-color: #E6E8EC;
}

.age__circle {
  justify-content: center;
  align-items: center;
  padding: 15px 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
}

.age__text {
  font: 400 12px / 16px "Open Sans", sans-serif;
  color: #A1A6B4;
}

.audio_768, .header-bottom__on-airth {
  display: none;
}

/*hero*/
.hero__container {
  position: relative;
  justify-content: space-between;
}

.hero__left-wrap {
  align-self: start;
  max-width: 635px;
}

.hero__title {
  margin: 0 0 14px;
  font: 700 60px / 100% "Muller", sans-serif;
  color: #121723;
}

.hero__title_ital {
  font-style: italic;
}

.hero__text {
  margin: 0 0 46px;
  font: 400 16px / 150% "Muller", sans-serif;
  color: #121723;
}

.hero__btn {
  padding: 23px 52px;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  outline: none;
  font: var(--font500_20_20);
  color: #fff;
  background-color: #6D31EE;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
}

.hero__btn:focus {
  border-color: #4F28A5;
  background-color: #AA9DFA;
}

.hero__btn:hover {
  border-color: #AA9DFA;
  background-color: #AA9DFA;
}

.hero__btn:active {
  border-color: #4F28A5;
  background-color: #4F28A5;
}

.hero__picture {
  position: absolute;
  right: 15px;
  bottom: -58px;
}

/*podcasts*/

.podcasts {
  background-color: #E6E8EC;
}

.podcasts__container {
  flex-direction: column;
}

.podcasts__title {
  margin: 0 0 30px;
  color: #121723;
}

.podcasts__list {
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

.podcasts__item {
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
  background-color: #fff;
}

.podcasts__item:nth-child(n + 9) {
  display: none;
}

.podcasts__item.podcasts__item_visible {
  display: flex;
}

.podcasts__left-wrap {
  position: relative;
  max-height: 140px;
  max-width: 112px;
  width: 100%;
}

.podcasts__date-wrap {
  position: absolute;
  left: -1px;
  bottom: -1px;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  max-width: 51px;
  width: 100%;
  font-size: 0;
  z-index: 5;
  background-color: #E6E8EC;
}

.podcasts__date {
  font: 400 10px /10px "Muller", sans-serif;
  color: #121723;
}

.podcasts__right-wrap {
  width: 100%;
}

.podcasts__top-wrap {
  justify-content: space-between;
  padding: 21px 30px;
}

.podcasts__time {
  display: block;
  margin-bottom: 10px;
  font: 400 12px / 12px "Muller", sans-serif;
  color: #121723;
}

.podcasts__name {
  margin: 0 0 4px;
  color: #121723;
}

.podcasts__player {
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.podcasts__play-btn {
  align-self: center;
}

.podcasts__bottom-wrap {
  padding: 6px 30px;
  border-top: 1px solid #E6E8EC;
}

.podcasts__summary {
  padding-top: 2px;
}

.podcasts__summary, .podcasts__counter-btn_like {
  margin-right: 30px;
}

.podcasts__summary, .podcasts__counter-btn {
  display: flex;
}

.podcasts__summary svg, .podcasts__counter-btn svg {
  margin-right: 6px;
}

.podcasts__summary-count {
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.podcasts__counter-btn {
  padding: 2px;
  border: none;
  outline: none;
  font: var(--font400_16_16);
  color: #A1A6B4;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out,
              background 0.2s ease-in-out;
}

.podcasts__counter-btn_like {
  padding-left: 19px;
  background: url("../img/podcasts-like-def.svg") left center no-repeat;
}

.podcasts__counter-btn_share {
  padding-left: 18px;
  background: url("../img/podcasts-share-def.svg") left center no-repeat;
}

.podcasts__counter-btn_like:focus {
  background: url("../img/podcasts-like-focus.svg") left center no-repeat;
}

.podcasts__counter-btn_share:focus {
  background: url("../img/podcasts-share-focus.svg") left center no-repeat;
}

.podcasts__counter-btn_like:hover {
  background: url("../img/podcasts-like-hover.svg") left center no-repeat;
}

.podcasts__counter-btn_share:hover {
  background: url("../img/podcasts-share-hover.svg") left center no-repeat;
}

.podcasts__counter-btn_like:active {
  background: url("../img/podcasts-like-active.svg") left center no-repeat;
}

.podcasts__counter-btn_share:active {
  background: url("../img/podcasts-share-active.svg") left center no-repeat;
}

.podcasts__counter-btn:focus {
  color: #fff;
  background-color: #AA9DFA;
}

.podcasts__counter-btn:hover {
  color: #6D31EE;
}

.podcasts__counter-btn:active {
  color: #4F28A5;
}


.podcasts__counter-btn_like:focus {
  fill: #fff;
}

.podcasts__counter-btn:hover {
  color: #6D31EE;
}

.podcasts__counter-btn:active {
  color: #4F28A5;
  background-color: transparent;
}

/*.podcasts__summary-count, .podcasts__count-btn_like, .podcasts__count-btn_share {*/
/*  font: var(--font400_16_16);*/
/*  color: #A1A6B4;*/
/*}*/

.play-btn {
  display: none;
  padding: 0;
  border: none;
  border-radius: 100%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
}

.play-btn_active {
  display: block;
}

.play-btn svg, .play-btn circle, .play-btn path,
.play-btn rect {
  transition: stroke 0.2s ease-in-out,
              fill 0.2s ease-in-out;
}

.play-btn:focus circle{
  stroke: #AA9DFA;
}

.play-btn:focus path {
  fill: #AA9DFA;
}

.play-btn:focus rect {
  fill: #AA9DFA;
}

.play-btn:hover circle{
  stroke: #6D31EE;
}

.play-btn:hover path {
  fill: #6D31EE;
}

.play-btn:hover rect {
  fill: #6D31EE;
}

.play-btn:active circle{
  stroke: #4F28A5;
}

.play-btn:active circle{
  fill: #4F28A5;
}

.play-btn:active path {
  fill: #fff;
}

.play-btn:active rect {
  fill: #fff;
}

.podcasts__more-btn {
  align-self: center;
  padding: 23px 52px;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  outline: none;
  font: var(--font500_20_20);
  color: #6D31EE;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
}

.podcasts__more-btn:focus {
  color: #fff;
  background-color: #AA9DFA;
}

.podcasts__more-btn:hover {
  color: #fff;
  background-color: #6D31EE;
}

.podcasts__more-btn:active {
  color: #fff;
  border-color: #4F28A5;
  background-color: #4F28A5;
}

.podcasts__more-btn_hidden {
  display: none;
}

/*broadcasts*/
.broadcasts__container {
  justify-content: space-between;
}

/*broadcasts__left-wrap*/
.broadcasts__left-wrap {
  width: calc((100% - 3 * 30px) / 4);
}

.broadcasts__top-left {
  margin-bottom: 227px;
  flex-direction: column;
  align-items: start;
}

.broadcasts__title {
  margin: 0 0 12px;
  color: #121723;
}

.broadcasts__author {
  margin-bottom: 8px;
  font: var(--font400_16_16);
  color: #A1A6B4;
}

/*broadcasts select*/
.choices {
  width: 100%;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #D2D5DD;;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-top: none;
  border-left: 1px solid #D2D5DD;
  border-right: 1px solid #D2D5DD;
  border-bottom: 1px solid #D2D5DD;
  border-radius: 0 0 10px 10px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
}

.choices[data-type*=select-one]::after {
  top: 45%;
  width: 13px;
  height: 9px;
  border: none;
  background: url("../img/select-arrow-close.svg") right center / cover no-repeat;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -3px;
  width: 13px;
  height: 9px;
  border: none;
  background: url("../img/select-arrow-open.svg") right center / cover no-repeat;
}

.choices__inner {
  min-height: auto;
  border: none;
  border-radius: 10px;
  font: var(--font400_16_16);
  background-color: #E6E8EC;
}

.is-open .choices__inner {
  position: relative;
  border-radius: 10px;
  overflow: visible;
}

.is-open .choices__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #D2D5DD;
  border-left: 1px solid #D2D5DD;
  border-right: 1px solid #D2D5DD;
  border-radius: 10px 10px 0 0;
}

.choices__inner,
.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 12px;
  font: var(--font400_16_16);
}

.choices__list--single .choices__item {
  color: #121723;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown {
  color: #A1A6B4;
}

.broadcasts__option {
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.broadcasts__bottom-left {
  flex-direction: column;
}

.broadcasts__left-picture {
  margin-bottom: 20px;
}

.broadcasts__archive-link {
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  min-width: 110px;
  max-width: 160px;
  width: 100%;
  height: 40px;
  border: 2px solid #121723;
  border-radius: 77px;
  color: #121723;
  font: var(--font500_16_16);
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
}

.broadcasts__archive-icon {
  margin-right: 5px;
}

/*.broadcasts__archive-span {*/
/*  color: #121723;*/
/*  font: var(--font500_16_16);*/
/*}*/

.broadcasts__descr {
  margin: 0;
  font: 400 16px / 150% "Muller", sans-serif;
  color: #A1A6B4;
}

/*broadcasts__right-wrap*/
.broadcasts__right-wrap {
  width: calc((100% - 30px) - ((100% - 3 * 30px) / 4));
}

.broadcasts__list {
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: -30px;
  padding-top: 13px;
}

.broadcasts__item {
  width: calc((100% - 2 * 30px) / 3);
  margin-bottom: 30px;
}

.broadcasts__article {
  width: 100%;
  font-size: 0;
}

.broadcasts__article-bottom-wrap {
  flex-direction: column;
  padding: 20px 16px;
  border: 1px solid #E6E8EC;
}

.broadcasts__name {
  align-self: flex-start;
  margin: 0 0 4px;
  color: #121723;
}

.broadcasts__time {
  align-self: flex-start;
  margin: 0 0 20px;
  font: 400 12px / 12px "Muller";
  color: #A1A6B4;
}

.broadcasts__more-link {
  align-self: flex-start;
  padding-right: 24px;
  font: var(--font400_16_16);
  font-style: italic;
  color: #121723;
  background: url("../img/broadcasts-arrow-def.svg") right center no-repeat;
  transition: color 0.2s ease-in-out,
              background 0.2s ease-in-out;
}

.broadcasts__more-link:focus {
  color: #fff;
  background: url("../img/broadcasts-arrow-focus.svg") right center no-repeat #AA9DFA;
}

.broadcasts__more-link:hover {
  color: #6D31EE;
  background: url("../img/broadcasts-arrow-hover.svg") right center no-repeat;
}

.broadcasts__more-link:active {
  color: #4F28A5;
  background: url("../img/broadcasts-arrow-active.svg") right center no-repeat transparent;
}


/*broadcasts__footer*/
.broadcasts__footer {
  display: none;
}

/*guests*/
.guests {
  background-color: #121723;
}

/*guests__header*/
.guests__header {
  margin-bottom: 50px;
  max-width: 825px;
  width: 100%;
}

.guests__title {
  margin: 0 0 12px;
  color: #fff;
}

.guests__have {
  display: block;
  margin: 0 0 8px;
  font: 700 20px / 150% "Muller", sans-serif;
  color: #A1A6B4;
}

.guests__header-descr {
  margin: 0;
  font: 400 20px / 160% "Muller", sans-serif;
  color: #A1A6B4;
}

/*guests__content*/
.guests__accordion {
  margin-right: 30px;
}

.accordion {
  max-width: 730px;
  width: 100%;
}

.accordion__item {
  width: 100%;
}

.accordion__title {
  margin: 0;
}

.accordion__btn {
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  width: 100%;
  border-top: 1px solid #A1A6B4;
  border-bottom: 1px solid #A1A6B4;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.accordion__btn circle,
.accordion__btn span,
.accordion__btn path {
  transition: color 0.2s ease-in-out,
              fill 0.2s ease-in-out,
              stroke 0.2s ease-in-out;
}


.accordion__btn:focus {
  background-color: #292E39;
}

.accordion__btn:focus circle {
  fill: #4F28A5;
}

.accordion__btn:hover span {
  color: #AA9DFA;
}

.accordion__btn:hover circle,
.accordion__btn:hover path {
  stroke: #AA9DFA;
}

.accordion__btn:active {
  background-color: transparent;
}

.accordion__btn:active circle {
  stroke: #AA9DFA;
}

.accordion__btn:active circle {
  fill: #AA9DFA;
}

.accordion__btn:active path {
  stroke: #fff;
}

.accordion__btn:active {
  border-color: #AA9DFA;
}

.accordion__btn-text {
  font-weight: 500;
  color: #fff;
}

.accordion__btn-img {
  transition: transform 0.4s ease-in-out;
}

.accordion__btn-img_active {
  transform: rotate(180deg);
}

.accordion__panel {
  overflow: hidden;
}

.accordion__panel_active {
  padding: 30px 0;
}

.accordion__panel-list {
  margin-bottom: -15px;
  column-count: 4;
}

.accordion__panel-list_active {
  padding: 25px 0;
}

.accordion__panel-btn {
  margin-bottom: 15px;
  padding: 0;
  border: none;
  font: var(--font400_16_16);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.accordion__panel-btn_active {
  color: #AA9DFA;
}

/*guests__person*/
.guests__person {
  display: none;
  max-width: 350px;
  width: 100%;
}

.guests__person_active {
  display: block;
}

.guests__person-pict img {
  margin-bottom: 8px;
}

.guests__social {
  margin-bottom: 6px;
}

.guests__social-item:not(:last-child) {
  margin-right: 30px;
}

.footer-top__social-link path,
.guests__social-link path,
.guests__social-link rect {
  transition: fill 0.2s ease-in-out;
}

.footer-top__social-link:focus path,
.guests__social-link:focus path,
.guests__social-link:focus rect {
  fill: #AA9DFA;
}

.footer-top__social-link:hover path,
.guests__social-link:hover path,
.guests__social-link:hover rect {
  fill: #6D31EE;
}

.footer-top__social-link:active path,
.guests__social-link:active path,
.guests__social-link:active rect {
  fill: #4F28A5;
}

.guest__person-name {
  margin: 0 0 8px;
  font: var(--font500_20_20);
  color: #fff;
}

.guest__person-descr {
  margin: 0 0 40px;
  font: 400 16px / 180% "Muller", sans-serif;
  color: #A1A6B4;
}

.guest__person-link {
  padding: 10px 19px;
  border: 2px solid #AA9DFA;
  border-radius: 77px;
  font: var(--font500_16_16);
  text-align: center;
  color: #AA9DFA;
  transition: color 0.2s ease-in-out,
              border-color 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
}

.guest__person-link:focus {
  border-color: #6D31EE;
  color: #fff;
  background-color: #6D31EE;
}

.guest__person-link:hover {
  border-color: #AA9DFA;
  color: #fff;
  background-color: #AA9DFA;
}

.guest__person-link:active {
  border-color: #4F28A5;
  color: #fff;
  background-color: #4F28A5;
}

/*playlists*/
.playlists__container {
  justify-content: space-between;
}

/*playlists__left-wrap*/
.playlists__left-wrap {
  max-width: 350px;
  width: 100%;
}

.playlists__title {
  margin: 0 0 12px;
}

.playlists__form fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.playlists__legend {
  margin: 0 0 10px;
  font: var(--font400_16_16);
  color: #A1A6B4;
}

.playlists__list {
  margin-bottom: 24px;
}

.playlists__item:not(:last-child) {
  margin-bottom: 20px;
}

.playlists__form-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 26px;
  cursor: pointer;
}

.playlists__form-input {
  display: none;
}

.playlists__form-span {
  padding-left: 40px;
  font: var(--font400_20_20);
  color: #121723;
}

.playlists__form-cust-input {
  transition: border-color 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
}

.playlists__form-input + .playlists__form-cust-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #A1A6B4;
  border-radius: 100%;
  outline: none;
}

.playlists__form-input + .playlists__form-cust-input::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.2s ease-in-out;
}

.playlists__form-input:checked + .playlists__form-cust-input::after {
  opacity: 1;
}

.playlists__form-input + .playlists__form-cust-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #6D31EE;
  border-radius: 100%;
  background-color: #6D31EE;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.playlists__form-input:checked + .playlists__form-cust-input::before {
  opacity: 1;
}

.playlists__form-input:checked + .playlists__form-cust-input {
  border: none;
}

.playlists__form-cust-input:focus {
  border-color: #6D31EE;
  background-color: #D2D5DD;
}

.playlists__form-input:hover + .playlists__form-cust-input {
  border-color: #6D31EE;
  background-color: #fff;
}

.playlists__form-input:active + .playlists__form-cust-input::before {
  opacity: 1;
}

.playlists__form-input:active + .playlists__form-cust-input::after {
  opacity: 1;
}

.playlists__left-footer {
  padding-top: 38px;
  border-top: 1px solid #D2D5DD;
}

.playlists__left-text {
  margin: 0;
  font: 400 16px / 22px "Muller", sans-serif;
  color: #A1A6B4;
}

.playlists__left-copy {
  display: block;
  margin-bottom: 5px;
  font: 300 16px / 22px "Muller", sans-serif;
  font-style: italic;
  color: #A1A6B4;
}

.playlists__circle {
  display: inline-block;
  padding: 4px;
  border: 1px solid #A1A6B4;
  border-radius: 100%;
}

.playlists__age {
  font: 400 12px / 16px "Open Sans", sans-serif;
  color: #A1A6B4;
}

/*playlists__card-list*/
.playlists__card-list {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -30px;
  padding-top: 12px;
  width: calc(100% - 30px - 350px);
}

.playlists__card-item {
  margin-bottom: 30px;
  max-width: 160px;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.playlists__photo-wrap {
  position: relative;
  font-size: 0;
}

.playlists__country-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 24px;
  height: 20px;
  background-color: #121723;
}

.playlists__btn-wrap {
  position: absolute;
  top: 56px;
  left: 56px;
  font-size: 0;
}

.playlists__btn {
  padding: 0;
  border: none;
  outline: none;
  font-size: 0;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}

.playlists__btn-visible {
  transition: opacity 0.2s ease-in-out;
}

.playlists__photo-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #121723;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.playlists__card-item:focus .playlists__photo-wrap::after,
.playlists__card-item:hover .playlists__photo-wrap::after,
.playlists__card-item:active .playlists__photo-wrap::after {
  opacity: 0.8;
}

.playlists__card-item:focus .playlists__btn-visible,
.playlists__card-item:hover .playlists__btn-visible,
.playlists__card-item:active .playlists__btn-visible {
  opacity: 1;
  /*background-color: transparent;*/
}

.playlists__card-item:focus .playlists__desc-wrap {
  border-color: #AA9DFA;
  background-color: #AA9DFA;
}

.playlists__card-item:focus .playlists__subtitle,
.playlists__card-item:focus .playlists__desc-text {
  color: #121723;
}

.playlists__card-item:hover .playlists__desc-wrap {
  border-color: #6D31EE;
  background-color: #6D31EE;
}

.playlists__card-item:hover .playlists__subtitle,
.playlists__card-item:hover .playlists__desc-text {
  color: #fff;
}

.playlists__card-item:active .playlists__desc-wrap {
  border-color: #4F28A5;
  background-color: #4F28A5;
}

.playlists__card-item:active .playlists__subtitle,
.playlists__card-item:active .playlists__desc-text {
  color: #fff;
}

.playlists__desc-wrap {
  padding: 14px;
  border: 1px solid #E6E8EC;
  transition: background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
}

.playlists__subtitle {
  margin: 0;
  font: 500 16px / 16px "Muller", sans-serif;
  color: #121723;
  transition: color 0.2s ease-in-out;
}

.playlists__desc-text {
  font: 400 12px / 12px "Muller", sans-serif;
  color: #A1A6B4;
  transition: color 0.2s ease-in-out;
}

.playlists__left-footer_tablet {
  display: none;
}

/*adv*/
.adv {
  padding-bottom: 133px;
  background-color: #292E39;
}

.adv__container {
  justify-content: space-between;
}

.adv__picture {
  width: 60%;
}

.adv__right-wrap {
  width: 40%;
}

.adv__title {
  margin: 0 0 19px;
  color: #F0D288;
}

.adv__wawe-img {
  margin-bottom: 15px;
}

.adv__text {
  margin: 0;
  font: 40 16px / 180% "Muller", sans-serif;
  color: #fff;
}

.adv__text_first {
  margin-bottom: 12px;
}

.adv__text_last {
  margin: 0 0 30px;
}

.adv__price {
  display: block;
  margin: 0 0 53px;
  font: 500 30px / 30px "Muller", sans-serif;
  color: #fff;
}

.adv__link {
  position: relative;
  margin-left: 13px;
  padding-left: 28px;
  font: 500 20px / 100% "Muller", sans-serif;
  color: #F0D288;
  background: url("../img/yandex-market.svg") left center no-repeat;
}

.adv__link::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -13px;
  left: -13px;
  bottom: -25px;
  border: 2px solid #F0D288;
  border-radius: 100px;
}

/*about*/
.about {
  background-color: #121723;
}

.about__container {
  position: relative;
}

/*about__top-wrap*/
.about__top-wrap {
  margin-bottom: 25px;
}

.about__top-text-wrap {
  width: 60%;
}

.about__title {
  margin: 0 0 12px;
  color: #fff;
}

.about__bold-text {
  margin: 0 0 8px;
  font: 700 20px / 150% "Muller", sans-serif;
  color: #A1A6B4;
}

.about__text {
  margin: 0;
  font: 400 20px / 160% "Muller", sans-serif;
  color: #A1A6B4;
}

.about__top-figures {
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

/*about__swiper*/
.swiper {
  position: initial;
}

.about__swiper {
  margin-bottom: 30px;
  width: 100%;
}

.about__img {
  margin-bottom: 26px;
}

.about__subtitle {
  margin: 0 0 8px;
  font-weight: 500;
  color: #fff;
}

.about__descr {
  margin: 0;
  font: 400 16px / 24px "Muller", sans-serif;
  color: #A1A6B4;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -60px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -60px;
}

.swiper-button-next, .swiper-button-prev {
  top: 39%;
  margin-top: 0;
  width: 42px;
  height: 42px;
  border-radius: 100%;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-btn-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.swiper-btn-img_prev {
  transform: rotate(90deg);
}

.swiper-btn-img_next {
  transform: rotate(-90deg);
}

/*about__form*/

.about__form {
  max-width: 920px;
}

.about__textarea-label {
  position: relative;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 150px;
}

.about__textarea {
  padding: 30px 32px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 30px;
  font: var(--font400_20_20);
  color: #A1A6B4;
  background-color: transparent;
  resize: none;
}

.about__name-mail-wrap {
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  height: 70px;
}

.about__label {
  position: relative;
  margin-bottom: 30px;
  width: calc((100% - 30px)/ 2);
  height: 100%;
}

.about__input {
  padding: 25px 32px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 30px;
  font: var(--font400_20_20);
  color: #A1A6B4;
  background-color: transparent;
}

.about__btn {
  display: block;
  margin-bottom: 28px;
  padding: 25px 54px;
  border: none;
  border-radius: 40px;
  font: var(--font500_20_20);
  color: #fff;
  background-color: #6D31EE;
  cursor: pointer;
}

.about__check-label {
  position: relative;
  align-items: center;
  display: inline-block;
}

.about__check-text {
  padding-left: 22px;
  font: 500 12px / 12px "Muller", sans-serif;
  color: #fff;
}

.about__check-input {
  display: none;
}

.about__check-cust-input {
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
}

.about__check-input + .about__check-cust-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/about-check-img.svg") center center no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.about__check-input:checked + .about__check-cust-input::after {
  opacity: 1;
}

/*validation*/

.just-validate-error-field,
.just-validate-error-field + .about__check-cust-input {
  border-color: #D52B1E;
}

.just-validate-error-label {
  position: absolute;
  top: 9px;
  left: 32px;
  font: 400 12px / 12px "Muller", sans-serif;
  color: #D52B1E!important;
}

/*footer*/
/*footer-top*/
.footer {
  background-color: #292E39;
}

.footer-top__left-wrap {
  margin-right: auto;
}

.footer-top__logo-link {
  display: inline-block;
  margin-bottom: 14px;
}

.footer-top__social {
  align-items: center;
}

.footer-top__social-item:not(:last-child) {
  margin-right: 21px;
}

.footer-top__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

/*footer-top__nav*/
.footer-top__nav {
  justify-content: space-between;
  max-width: 445px;
  width: 100%;
}

.nav__footer-list {
  margin-bottom: -20px;
  font-size: 0;
}

.nav__footer-item {
  margin-bottom: 20px;
  font-size: 0;
}

.nav__footer-link {
  font: var(--font400_16_16);
  color: #fff;
}

/*footer-bottom*/

.footer-bottom {
  padding-bottom: 10px;
}

.footer-bottom__trademark-img {
  margin-bottom: 3px;
  width: 100%;
}

.footer-bottom-span-wrap {
  justify-content: center;
}

.footer-bottom__trademark-span {
  font: 400 16px / 103.34% "Muller", sans-serif;
  color: #A1A6B4;
  text-align: center;
}
